.auth-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card {
  width: 500px;
}

.mat-input-container {
  width: 100%;
}

.login-btn {
  text-align: right;

  a {
    float: left;
    display: inline-block;
    margin-top: 11px;
    font-size: 12px;
    color: blue;
  }
  
}